* {
  box-sizing: border-box;
}

$theme-color: #fef4ef;
$theme-color-dark: #f2d7ca;
$theme-color-contrast: #3a2250;
$theme-color-link: #00268d;

$font-family: 'Hansen Grotesque', sans-serif;
$font-size: small;

$content-max-width: 800px;

$margin-left: 160px;
$margin-right: 140px;

$header-height: 7vh;
$sidebar-width: 340px;

body {
  display: flex;
  width: 100vw;
  height: 100%;
  color: $theme-color-contrast;
  background-color: $theme-color;
  min-height: 100vh;

  font-family: $font-family;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: $font-family;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.13rem;
}

li,
p {
  font-size: $font-size;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: justify;
}

strong {
  font-weight: 600;
}

a {
  font-family: $font-family;
  color: $theme-color-link;
  text-decoration: none;
}

a:hover {
  color: lighten($theme-color-link, 40%);
}

ol,
ul {
  margin-left: 1rem;
  padding: 0 20px;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: '\2015   ';
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid $theme-color-dark;
  background-color: darken($theme-color, 2%);

  p {
    margin: 0 0 10px;
  }
}

code,
pre {
  background-color: $theme-color-contrast;
  color: lighten($theme-color-contrast, 60%);
  font-family: monospace;
  line-height: 1.5;
  padding: 0.1rem 0.3rem;
}

table,
th,
td {
  border: 1px solid black;
  padding: 1rem;
  font-size: $font-size;
}

table {
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 1rem;
}
