// TODO: verify that this works if the user does not have it installed
@font-face {
  font-family: 'Hansen Grotesque';
  src: url('/Hansen_Grotesque–Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

$theme-color: #fef4ef;
$theme-color-light: lighten($theme-color, 20%);
$theme-color-dark: darken($theme-color, 20%);
$theme-color-contrast: #3a2250;

$font-family: 'Hansen Grotesque', sans-serif;
$font-size: 10px;

$margin-left: 160px;
$margin-right: 140px;

$header-height: 7vh;
$sidebar-width: 340px;

body {
  display: flex;
  width: 100vw;
  height: 100%;
  color: $theme-color-contrast;
  background-color: $theme-color;
  min-height: 100vh;

  font-family: $font-family;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.8rem;
}

h1 {
  font-size: 2rem;
}

li,
p {
  font-size: 12px;
  line-height: 1.5;
}

a {
  font-family: $font-family;
  color: $theme-color-contrast;
  text-decoration: underline;
}

main {
  display: block;
  width: 100%;
}
