main {
  display: block;
  width: 100%;
}

sidebar {
  display: none;
}

@mixin wrapper-size($wrapper-width, $wrapper-margin-left, $wrapper-margin-right) {
  .content_wrapper {
    width: $wrapper-width;
    margin-left: $wrapper-margin-left;
    margin-right: $wrapper-margin-right;
  }
}

@include wrapper-size(100%, 0px, 0px);

.content_wrapper {
  padding: 0 0.5rem;
}

.content__head {
  display: flex;
  align-items: center;
  border-bottom: 5px solid $theme-color-contrast;
  font-size: $font-size;
  height: 80px;
}

.content__body {
  width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: right;

  img {
    max-width: $content-max-width;
    float: right;
    margin-bottom: 1rem;
  }

  h1 {
    margin: 2.3rem 0;
    left: $margin-left;
  }
}

@media (min-width: $margin-left + $content-max-width) {
  @include wrapper-size($content-max-width, $margin-left, auto);

  $content-body-width: 480px;

  .content__body {
    width: $content-body-width;
    float: right;
    padding-top: 2rem;
    margin-left: $margin-left;

    h1 {
      font-size: 2rem;
      position: absolute;
      left: $margin-left;
      text-align: left;
      margin: 0;
      padding: 0;
      width: $content-max-width - $content-body-width;
    }
  }
}

@media (min-width: $sidebar-width + + $margin-left + $content-max-width + 10px) {
  h1 {
    left: $sidebar-width + $margin-left !important;
  }
}

@media (min-width: $sidebar-width + + $margin-left +$content-max-width) {
  sidebar {
    display: block;
  }
}
