header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  height: $header-height;
  padding-left: $margin-left + 23px;

  .outline {
    position: absolute;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100vw;
    border-bottom: 1px solid $theme-color-dark;
    pointer-events: none;
  }

  h1 {
    font-size: $font-size;
    color: inherit;
    margin-left: 20px;
    margin-top: 1.5vh;
  }

  svg {
    height: 5vh;
    width: auto;
    max-width: 56px;
    max-height: 56px;
  }

  form {
    height: 5vh;
    width: auto;
    margin-left: 20px;
    margin-top: 1.5vh;
  }
}
