header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: $header-height;

  @media (min-width: $sidebar-width + + $margin-left +$content-max-width) {
    height: $header-height-desktop;
  }

  .outline {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100vw;
    border-bottom: 1px solid $theme-color-dark;
    pointer-events: none;
  }

  h1 {
    font-size: $font-size;
    color: inherit;
    margin-left: 20px;
    margin-top: 1.5vh;
  }

  img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  form {
    height: 5vh;
    width: auto;
    margin-left: 20px;
    margin-top: 1.5vh;
  }

  @media (min-width: $sidebar-width + + $margin-left +$content-max-width) {
    height: $header-height-desktop;
    justify-content: flex-end;

    img {
      width: 56px;
      height: 56px;
      margin-right: 20px;
      margin-left: undefined;
    }
  }
}
