header {
  display: flex;
  // flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  height: $header-height;
  // padding-left: $margin-left + 23px;

  .outline {
    position: absolute;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100vw;
    border-bottom: 1px solid $theme-color-dark;
    pointer-events: none;
  }

  h1 {
    font-size: $font-size;
    color: inherit;
    margin-left: 20px;
    margin-top: 1.5vh;
  }

  img {
    // width: auto;
    width: 56px;
    height: 56px;
    // position: absolute;
    margin-right: 20px;
  }

  form {
    height: 5vh;
    width: auto;
    margin-left: 20px;
    margin-top: 1.5vh;
  }
}
