sidebar {
  width: $sidebar-width;
  color: #000000;
  border: 1px solid $theme-color-dark;

  .header-spacer {
    height: $header-height;
  }

  .folder {
    border-bottom: 1px solid $theme-color-dark;
    padding: 0 20px 1rem 0;
  }

  h1 {
    font-size: 10px;
    color: inherit;
    font-weight: bold;
    padding: 2rem 25px 0 64px;
  }

  a {
    font-size: 0.6rem;
    color: inherit;
    display: block;
    text-decoration: none;
    padding-left: 84px;

    margin-bottom: 1rem;
    font-weight: 400;

    &.active {
      color: $theme-color-link;
      font-weight: 600;
    }
    &.active:before {
      border-bottom: 1px solid $theme-color-link;
      content: '';
      position: absolute;
      left: 0;
      height: 0.3rem;
      width: 70px;
    }
  }
}
